.country_dropdown {
  @apply bg-[#F7F7FE] md:w-[4rem] h-[35px] shadow-none text-[14px] font-medium leading-[24px] text-grey-aa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.country_dropdown {
  @apply justify-start;
}
.phone_field {
  @apply pl-2 md:w-[70%] text-[14px] text-grey-aa font-normal;
}
.phone_field ::placeholder {
    @apply text-[14px];
}
