
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



/* Offer Banener Starts */

/* .offer_banner{
  @apply bg-[#128c7e] text-[#fff] text-[18px] text-center p-4 mt-[15px];
}
.offer {
  animation: zoom-in-zoom-out 2s ease-in-out infinite;
} 
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
} */

/* Offer Banener Ends */

/* Main Container Starts */
.main_container {
  @apply flex;
}

/* Aside Chat Container Starts */
.chat_container {
  @apply w-[27%] h-[calc(100vh-0px)] bg-[#fff] overflow-hidden;
  scrollbar-width: none;
}
.profile_settings {
  @apply w-full h-14 sticky top-0 z-10 flex justify-between items-center bg-[#f0f2f5] p-3 border-r-[#d1d7db] border-solid border-[1px];
}
.more_options {
  @apply size-8 cursor-pointer mt-[5px];
}
.main_div {
  @apply absolute ml-[100%] top-[55px] w-[250px] bg-white shadow-lg rounded-[6px] transition-all duration-[0.5s];
}
.show {
  @apply ml-[36%];
}

.inner_div li {
  @apply text-[#111B12] p-[15px] text-[14px];
}
.inner_div li:hover {
  @apply bg-[#f0f2f5];
}
.inner_div li:first-child {
  @apply mt-[4px];
}
.inner_div li:last-child {
  @apply pb-[15px];
}

.popup_overlay {
  @apply fixed top-0 left-[-450px] w-[27%] h-full bg-white z-50 transition-all duration-[1s];
}
.popup_slide {
  @apply left-0;
}

.popup_content {
  @apply p-5 text-center text-[#111B12];
}

.popup_close {
  @apply flex gap-5 text-[#111B12] pt-5 pl-5;
}

.popup_search {
  @apply bg-[#f0f2f5] flex gap-6 items-center p-[6px] px-4 mt-[30px] rounded-[8px] w-[92%] ml-4 mb-6;
}
.popup_search input { 
  @apply w-full bg-transparent outline-none border-none text-[#111B12];
}

.chat_variety {
  @apply flex gap-2 pb-3 ml-4;
}

.all, .unread, .groups {
  @apply bg-[#f0f2f5] py-[6px] px-3 rounded-[42px] text-[#111B12] cursor-pointer text-[15px];
}

.search_filter {
  @apply sticky top-[55px] bg-[#fff] p-1;
}

.search {
  @apply bg-[#f0f2f5] flex gap-6 items-center p-[6px] px-4 mt-[6px] rounded-[8px] w-[92%] ml-4 mb-6;
}
.search input { 
  @apply w-full bg-transparent outline-none border-none text-[#111B12];
}

.all_chats_container {
  @apply divide-y divide-gray-400 overflow-auto h-[calc(100vh-180px)];
  scrollbar-width: none;
}

.individual_chat {
  @apply flex gap-3 items-center text-[#111B12] p-3 cursor-pointer;
}
.individual_chat:hover {
  @apply bg-[#f0f2f5]
}
.active_chat {
  @apply bg-[#f0f2f5]
}

.time_slots {
  @apply text-[12px] pl-[140px] mb-[20px];
}

/* Aside Chat Container Ends */

/* Main Chat Container Starts */

.message_container {
  @apply w-[73%] h-[calc(100vh-80px)] overflow-hidden;
  scrollbar-width: none;
}
.profile_settings {
  @apply flex justify-between items-center;
}
.profile_left {
  @apply flex items-center gap-3;
}
.message_profile {
  @apply w-full h-14 flex bg-[#f0f2f5] pt-3 pb-5 pr-3;
}
.back_arrow {
  @apply hidden;
}
.profile_name {
  @apply flex flex-col mt-[-7px];
}
.user_name {
  @apply text-[#111B12] text-[16px];
}
.seen_details {
  @apply text-[#667781] text-[13px];
}

.profile_right {
  @apply flex gap-[26px] items-center;
}

.rightMain_div {
  @apply absolute right-[-255px] top-[55px] w-[250px] bg-white shadow-lg rounded-[6px] transition-all duration-[1s];
}
.right_popup {
  @apply right-[5px];
}

.rightInner_div li {
  @apply text-[#111B12] p-[15px] text-[14px];
}
.rightInner_div li:hover {
  @apply bg-[#f0f2f5];
}
.rightInner_div li:first-child {
  @apply mt-[4px];
}
.rightInner_div li:last-child {
  @apply pb-[15px];
}

.form_element {
  @apply w-full fixed bottom-0 bg-[#f0f2f5];
}
.chat_area {
  @apply overflow-auto h-[calc(100vh-46px)] pt-[88px];
  scrollbar-width: none;
}

.list_group {
  @apply w-full overflow-hidden flex flex-col justify-end px-[15px] py-0;
}
.message_content {
  @apply w-full overflow-auto relative;
  -ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.messages {
  @apply relative flex justify-between items-end pr-[7px] pl-[9px] pb-[5px] rounded-[8px] mt-3 break-words max-w-[60%] mb-4;
}
.content {
  @apply text-[#111b21]
}

.file_link {
  @apply text-[#111b21];
}
.previewURL {
  @apply underline text-[blue];
}

.preview_image {
  @apply pt-[10px];
}
.date_divider {
  @apply text-center text-[#999] text-[14px] my-5 mx-0;
}
.message_date {
  @apply bg-[#fff] text-[#54656f] rounded-[8px] pt-[5px] pb-[6px] px-[12px];
}

.sent {
  @apply bg-[#e1ffc7] self-end;
}

.received {
  @apply bg-[#f1f1f1] self-start;
}

.timestamp {
  @apply text-[12.8px] text-[#888] pl-2 pt-2 float-right;
}
.emoji_stickers {
  @apply bg-white p-2 rounded-[50px] cursor-pointer;
}
.emoji_picker {
  @apply absolute left-0 bottom-[70px];
}
.add_file {
  @apply bg-white p-2 rounded-[50px] cursor-pointer;
}
.send_image {
@apply w-[24px] h-[24px];
}
.suggestions:hover {
  @apply bg-[#f1f1f1];
}


.preview_section {
  @apply flex flex-col items-center justify-center relative left-[300px];
}
.preview_section img {
  @apply w-[300px] h-[300px];
}
.preview_paragraph {
  @apply text-[#54656f] text-[22px];
}
.security_msg {
  @apply text-[12px] text-[#8696a0] mt-10;
}
/* Main Chat Container Ends */

/* Main Container Ends */


/* Responsive Starts */
@media only screen and (max-width: 480px) { 
/* .offer {
  @apply animate-none;
}
.offer_banner{
  @apply hidden text-[14px] p-2 m-[10px];
} */
.content {
  @apply max-w-[160px];
}
.chat_container {
  @apply hidden;
}
.message_container {
  @apply w-full;
}
.messages {
  @apply max-w-[70%];
}
.back_arrow {
  @apply block;
}

.preview_section {
  @apply static mt-[50px];
}
.preview_paragraph {
  @apply text-center text-[17px];
}
}

/* Responsive Ends */

